@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #060608;
}

body {
    background-color: var(--background);
    overflow-x: hidden;
}

.icon {
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-left: 6px;
    margin-right: 6px;

    transition-duration: 0.2s;
}

.icon:hover {
    opacity: 70%;
}

.section {
    min-height: 100vh;
    min-width: 100vw;
}

.bg {
    background-image: url("background.png")    
}

.flex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    vertical-align: center;
}

.fv {
    flex-direction: vertical;
}

.fh {
    flex-direction: horizontal;
}

.fc {
    flex-direction: column;
}

.description {
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;

    color: #FFFFFF;
}

.name {
    width: 758px;
    height: 150px;
}

.skills {
    margin-left: auto;
    margin-right: auto;
}

.mg-top-16 {
    margin-top: 16px;
}

.button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    width: 150px;
    height: 50px;

    color: #FFFFFF;
    border: 1.5px solid #FFFFFF;
    background-color: var(--background);
    transition-duration: 0.2s;
    
    cursor: pointer;
    transition: all .3s ease;
}

.button:hover {
    background-color: #FFFFFF;
    color: var(--background);
}

.contact-n-socials {
    width: 90vw;
    height: 65px;
    margin-top: 50px;
}

::selection {
    background-color: #FFFFFF;
    color: #000000;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
}

@media only screen and (max-width: 650px) {
    .description {
        font-size: 3.1vw;
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 400ms ease-in;
}
  
.fade-in.appear {
    opacity: 1;
}
