@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #060608;
}

body {
    background-color: var(--background);
    overflow-x: hidden;
}

.icon {
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-left: 6px;
    margin-right: 6px;

    transition-duration: 0.2s;
}

.icon:hover {
    opacity: 70%;
}

.section {
    min-height: 100vh;
    min-width: 100vw;
}

.flex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    vertical-align: center;
}

.fv {
    flex-direction: vertical;
}

.fh {
    flex-direction: horizontal;
}

.fc {
    flex-direction: column;
}

.description {
    font-family: 'Readex Pro';
    font-size: 24px;
    text-align: center;

    color: #FFFFFF;
}

.name {
    width: 758px;
    height: 150px;
}

.skills {
    margin-left: auto;
    margin-right: auto;
}

.contact-n-socials {
    width: 90vw;
    height: 65px;
    margin-top: 50px;
}

::selection {
    background-color: #FFFFFF;
    color: #000000;
}

::-webkit-scrollbar {
    width: 0px;
}

@media only screen and (max-width: 650px) {
    .description {
        font-size: 3.7vw;
    }
}
