@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body > * {
    animation: fade-in;
    animation-duration: 0.8s;
}

body {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    padding-left: 90px;
    padding-top: 160px;
    flex-direction: column;
    gap: 16px;

    background-color: #001122;
    text-rendering: geometricPrecision;
}

h1 {
    width: fit-content;

    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    height: 40px;

    color: white;
    border-right: .15em solid orange; 
    padding-right: .15em;
    animation: blink-caret .85s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

p {
    width: 525px;
    word-wrap: break-word;

    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;

    color: white;
}

.darker {
    color: grey;
} 

a {
    transition: opacity 0.2s ease-out;
}

a:hover {
    opacity: 0.7;
}

#socials {
    width: fit-content;

    display: flex;
    flex-direction: row;
    gap: 12px;
}

@media only screen and (max-width: 700px) {
    p { width: 60vw }
    body { padding-left: 13vw }
}

@keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.tr {
    position: absolute;
    z-index: -1000;
    top: 0px;
    right: 0px;
    
    width: 20rem;
    height: 20rem;
}

.bl {
    position: absolute;
    z-index: -1000;
    bottom: 0px;
    left: 0px;

    width: 20rem;
    height: 20rem;
}
